{% extends "Admin.html" %}

{% block title %}Admininistration-Company{% endblock %}

{% block menu %}

					<nav class="tm-main-nav">
                                <ul class="tm-main-nav-ul">
                                <li class="tm-nav-item">
                                    <a href="{{ url_for('admin') }}" class="tm-nav-item-link">Main Dashboard</a>
                                </li>
                                <li class="tm-nav-item">
                                    <a href="{{ url_for('companyRegister') }}" class="tm-nav-item-link">Register Company</a>
                                </li>
                                <li class="tm-nav-item">
                                    <a href="{{ url_for('companyDelete') }}" class="tm-nav-item-link">Delete Company</a>
                                </li>  
                                <li class="tm-nav-item">
                                    <a href="{{ url_for('logout') }}" class="tm-nav-item-link">Log out</a>
                                </li>                             
                            </ul>
                        </nav>

{% endblock %}
