{% extends "Admin.html" %}

{% block head_section %} 

{{ super() }}

<link
	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" crossorigin="anonymous" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
	crossorigin="anonymous"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	
	
	<script>
		$(document).ready(function() {
		  $('#companyName').on('input', function() {
		    var userText = $(this).val();

		    $("#companies").find("option").each(function() {
		      if ($(this).val() == userText) {
		       // alert("Make Ajax call here." + userText);
		      }
		    })
		  })
		});
	</script>

{% endblock %} 

{% block page_title %} {% endblock %} 
{% block page_subtitle %} Transactions {% endblock %} 

{% block content %}


<form action="{{ url_for('adminTransactions') }}" method="post"
	autocomplete="off">
	<div>
		<table id="table2" width="100%">
			<tr>
				<td align="left">Company Name:</td>
				<td align="left">
							
					<input list="companies" type="text" name="companyName" id="companyName" autocomplete=off placeholder="Input here"> 			
					<datalist id="companies" name="companies" >
						{% for company in allCompanies %}
							<option value='{{company.company_name}}'>
						{% endfor %}
					</datalist>
				</td>

			</tr>
			<tr>
				<td align="left">From Date:</td>
				<td align="left"><input type="date" id="from_date"
					name="from_date" required><br></td>
				<td align="left">To Date:</td>
				<td align="left"><input type="date" name="to_date"
					id="to_date" required><br></td>

			</tr>
			<tr>
				<td align="left"><input type="submit" value="Search">

				</td>
				<td align="left"></td>

			</tr>
		</table>
	</div>
	</br>

</form>

{% if companyDetails %}


<div>
	<table id="table3" width="100%">
		<tr>
			<td align="left">Established Date: {{companyDetails.company_establishdate}}</td>
			<td align="left">Employee Count: {{companyDetails.company_employeecount}}</td>
		</tr>
		<tr>
			<td align="left">Annual Turn Over: {{companyDetails.company_annualsale}}</td>
			<td align="left">Phone: {{companyDetails.company_phone}}</td>
			<td align="left">Website: {{companyDetails.company_picturepath}}</td>
		</tr>
		<tr>
			<td align="left">Address: {{companyDetails.company_address}}</td>

		</tr>
	</table>
</div>

{% endif %}

{% if companyTransactions %}


<div class="card-body">
	<div class="table-responsive">
		<table class="table table-bordered" id="dataTable" width="100%"
			cellspacing="0">
			<thead>
				<tr>
					<th>Product</th>
					<th>Date</th>
					<th>Mode</th>
					<th>Quantity</th>
					<th>Sold to Company</th>
					<th>Amount</th>

				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Product</th>
					<th>Date</th>
					<th>Mode</th>
					<th>Quantity</th>
					<th>Sold to Company</th>
					<th>Amount</th>
				</tr>
			</tfoot>
			<tbody>
			
			{% for companyTransaction in companyTransactions %}
				<tr>
					<td>{{companyTransaction.inventory_productname}}</td>
					<td>{{companyTransaction.inventory_datetime}}</td>
					<td>{{companyTransaction.inventory_mode}}</td>
					<td>{{companyTransaction.inventory_quantity}}</td>
					<td>{{companyTransaction.inventory_companysold}}</td>
					<td>{{companyTransaction.inventory_amount}}</td>

				</tr>
			{% endfor %}

			</tbody>
		</table>
	</div>
</div>

{% endif %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
	crossorigin="anonymous"></script>
<script src="static/js/chartScripts.js"></script>
<script
	src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"
	crossorigin="anonymous"></script>
<script src="static/assets/demo/datatables-demo.js"></script>

{% endblock %}
