{% extends "Master.html" %}


{% block head_section %}
  {{ super() }}
{% endblock %}

{% block title %}Admininistration{% endblock %}


{% block menu %}

					<nav class="tm-main-nav">
                                <ul class="tm-main-nav-ul">
                                <li class="tm-nav-item">
                                    <a href="{{ url_for('admin') }}" class="tm-nav-item-link">Welcome</a>
                                </li>
                                <li class="tm-nav-item">
                                    <a href="{{ url_for('bankRegister') }}" class="tm-nav-item-link">Bank Register</a>
                                </li>
                                <li class="tm-nav-item">
                                    <a href="{{ url_for('companyRegister') }}" class="tm-nav-item-link">Company Register</a>
                                </li>
                                <li class="tm-nav-item">
                                    <a href="{{ url_for('adminTransactions') }}" class="tm-nav-item-link">Transactions</a>
                                </li>
                                <li class="tm-nav-item">
                                    <a href="{{ url_for('logout') }}" class="tm-nav-item-link">Log out</a>
                                </li>
                               
                            </ul>
                        </nav>

{% endblock %}


{% block page_title %} Admininistration Dashboard {% endblock %}



{% block content %}
  
  							<section id="Comaony" class="tm-section">
                                <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">Total Companies Registered: {{states[1]['num']}}</h2></header>
                            </section>
							<section id="Bank" class="tm-section">
                                <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">Total Banks Registered: {{states[2]['num']}}</h2></header>
                            </section>
							<section id="Transaction" class="tm-section">
                                <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">Total Transactions: {{states[0]['num']}}</h2></header>
                            </section>
  
  
{% endblock %}